<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeelBack - Tableau de bord</title> 
    {% load static %} 
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}"> 
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Rajdhani:wght@400;600&display=swap" rel="stylesheet"> 

</head>
<body>
    <header>
        <img src="{% static 'quiz/logoFeel.png' %}" alt="FeelBack Logo">
        <h1>FeelBack</h1>
        <p>Le questionnaire de satisfaction</p>
    </header>

    <div class="container">
        <a href="{% url 'index' %}">
            <button type="button" class="btn-grey">REVENIR SUR LA PAGE D'ACCUEIL</button> 
        </a>

        <h2>Tableau de bord</h2> 
        <p>Cette page regroupe des statistiques moyennes sur l'ensemble des réponses données</p> 

        <div class="stat-container">
            <div class="stat-box">
                <p class="stat-number">{{ total_responses|floatformat:0 }}</p>
                <p class="stat-label">Réponses</p>
            </div>
        
            <div class="stat-box">
                <p class="stat-number">{{ avg_delivery_time|floatformat:2 }} / 5</p>
                <p class="stat-label">Délais de livraison</p>
            </div>
        
            <div class="stat-box">
                <p class="stat-number">{{ avg_package_condition|floatformat:2 }} / 5</p>
                <p class="stat-label">État du colis</p>
            </div>
        
            <div class="stat-box">
                <p class="stat-number">{{ avg_courier_behavior|floatformat:2 }} / 5</p>
                <p class="stat-label">Comportement du livreur</p>
            </div>
        </div>

    <footer>
        <p>2024 | FeelBack</p>
    </footer>

</body>
</html>
