<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil FeelBack</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}"> 
</head>
<body>
    
    <!-- Header -->
    <header>
        <img src="{% static 'quiz/logoFeel.png' %}" alt="My image">
        <h1>FeelBack</h1>
        <p>Le questionnaire de satisfaction</p>
    </header>

    <!-- Main Content -->
    <div class="container">
        <h2>Bienvenue sur l'application FeelBack</h2>
        <p>Cette application vous permet d'évaluer la livraison de votre commande</p>

        <!-- Buttons -->
        <div class="button-container">
            <button>CONSULTER LE TABLEAU DE BORD</button>
            <button>CRÉER UNE COMMANDE FICTIVE ET RÉPONDRE AU QUESTIONNAIRE DE SATISFACTION</button>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>2024 | FeelBack</p>
    </footer>

</body>
</html>
