/* Style général du corps de la page */
body {
    font-family: 'Rajdhani', sans-serif; /* Police principale de la page */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements internes */
    background-color: #fff; /* Couleur de fond blanche */
}

/* Style pour l'en-tête */
header {
    background-color: #fff; /* Couleur de fond blanche */
    padding: 20px; /* Ajoute un espacement de 20px autour de l'en-tête */
    border-bottom: 1px solid #ddd; /* Ajoute une bordure en bas de l'en-tête */
    text-align: center; /* Centre le texte dans l'en-tête */
}

header img {
    display: block; /* Affiche le logo comme un bloc (pour le centrer) */
    margin: 0 auto; /* Centre l'image horizontalement */
    width: 80px; /* Largeur fixe de 80px pour le logo */
    height: 80px; /* Hauteur fixe de 80px pour le logo */
}

header h1 {
    font-family: 'Poiret One', sans-serif; /* Police spécifique pour le titre */
    font-size: 36px; /* Taille du texte du titre */
    color: #333; /* Couleur du texte (gris foncé) */
    margin-top: 10px; /* Espace au-dessus du titre */
}

header p {
    color: #666; 
    font-size: 18px;
}

/* Style pour le conteneur principal */
.container {
    margin: 40px auto; 
    width: 100%; 
    max-width: 600px; 
    text-align: left; 
    padding: 0 20px; 
}

/* Style pour le texte du tableau de bord */
.dashboard-text {
    margin-left: auto;
    margin-right: auto; 
    max-width: 800px; 
    text-align: left; 
    padding: 10px 0; 
}

/* Conteneur des boutons */
.button-container {
    margin: 10px 0; 
}

/* Style général des boutons */
button {
    display: block; 
    width: 100%; 
    padding: 10px; 
    font-size: 14px; 
    font-weight: bold; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    margin: 10px 0; 
    border-radius: 0; 
}

/* Style spécifique pour le bouton gris */
.btn-grey {
    background-color: #4D4D4D;
    max-width: 300px; 
}

.btn-grey:hover {
    background-color: #3c3c3c; 
}

/* Style spécifique pour le bouton bleu */
.btn-blue {
    background-color: #0066ff; 
    max-width: 450px; 
}

.btn-blue:hover {
    background-color: #0057e7; 
}

/* Conteneur des boîtes de statistiques, centré */
.stat-container {
    display: flex; 
    justify-content: flex-start; 
    gap: 10px; 
    margin-top: 30px; 
    width: -moz-fit-content;
    width: fit-content; 
    margin-left: auto;
    margin-right: auto; 
}

/* Style pour chaque boîte de statistiques */
.stat-box {
    background-color: #0066ff; 
    padding: 15px; 
    width: 120px; 
    text-align: center; 
    color: white; 
}

.stat-number {
    font-size: 24px; 
    font-weight: bold; 
}

.stat-label {
    font-size: 12px; 
    margin-top: 5px; 
}

/* Style pour le pied de page */
footer {
    background-color: #e5e5e5; 
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}

footer p {
    color: #999; 
    font-size: 14px; 
}
