/* General Body Styling */
body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Header Styling */
header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Center the header text */
}

header img {
    display: block;
    margin: 0 auto; /* Center the logo */
    width: 80px;
    height: 80px;
}

header h1 {
    font-family: 'Poiret One', sans-serif;
    font-size: 36px;
    color: #333;
    margin-top: 10px;
}

header p {
    color: #666;
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
}

/* Container Styling */
.container {
    margin: 40px auto;
    width: 100%;
    max-width: 600px;
    text-align: left; /* Align text to the left */
}

/* Button Container */
.button-container {
    margin: 10px 0; /* Adjust margin for better alignment */
}

/* Buttons */
button {
    display: block;
    width: 100%; /* Take the full width of the container */
    max-width: 300px; /* Maximum width for the grey button */
    padding: 10px; /* Reduced padding for smaller buttons */
    font-size: 14px; /* Smaller font size */
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0; /* No margin to keep buttons aligned to the left */
}

/* Grey button (for the first button) */
.btn-grey {
    background-color: #4D4D4D;
}

.btn-grey:hover {
    background-color: #3c3c3c;
}

/* Blue button (for the second button) */
.btn-blue {
    background-color: #0066ff;
    max-width: 450px; /* Increased maximum width for the blue button */
}

.btn-blue:hover {
    background-color: #0057e7;
}

/* Remove border radius */
button {
    border-radius: 0; /* No rounded corners */
}

/* Footer Styling */
footer {
    background-color: #e5e5e5;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #999;
    font-size: 14px;
}
